* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

header i {
    font-size: 2.3em;
    margin: 10px;
}

header > div {
    margin-left: 50px;
    margin-top: 10px
}

a {
    border: 2px;
}

