@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Oswald&family=Tektur&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    color: #b438bc;
    background-color: #2b2a2c;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #B0A8B9;
    font-family: Barlow, sans-serif;
    font-weight: 300;
}

.section-heading {
    text-align: center;
    font-size: 2em;
    font-family: Oswald, sans-serif;
    padding: 15vh 0 7.5vh;
}

.highlight {
    font-size: 2em;
    text-decoration: underline;
}

/* --------------------------------  Header  -------------- */

header i {
    font-size: 5vh;
    margin:0 1vw;
}

header a {
    text-decoration: none;
    outline: none;
}

header > div {
    margin-left: 50px;
    margin: 2.5vh;
    float: left;
    position: fixed;
    top: 0;
    z-index: 200;
}

header ul {
    display: flex;
    list-style: none;
}

/* Navigation Icons Styling */

header li {
    transition: 0.2s ease-in-out;
}

header li:hover, header a:focus i {
    transform: scale(1.2);
}

#github {
    color: #b438bc;
}

#facebook {
    color: #4783eb;
}

#linkedin {
    color: #5692fb;
}

#twitter {
    color: #7ecef7;
}

#instagram {
    color: #e22881;
}

/* --------------------------------  Landing Page  -------- */

/* Hero Image */

#hero-image {
    width: 100%;
    height: 90vh;
    background: 
        url(../images/hero-image.jpeg) no-repeat center center, 
        #161018;
    background-size: cover;
}

.highlight-name {
    font-size: 1.2em;
    text-decoration: underline;
    color: #d2a1f2;
}

/* Greating Message */

#greating-container {
    width: 45vw;
    height: 30vh;
    position: absolute;
    top: 20vh;
    right: 20vw;
    color: #B0A8B9;
    margin: 0;
}

#greating-container h1 {
    font-size: 2.3em;
    font-family: Tektur, cursive;
    letter-spacing: .15em;
    margin: 0;
}

#greating-container h1:nth-child(1) {
    text-indent: 3em;
}
    
#type_animation {
    overflow: hidden;
    border-right: .15em solid #d2a1f2;
    white-space: nowrap;
    margin: 0 auto;
    animation: 
        typing 2.7s steps(40, end),
        blink-caret .75s step-end infinite;
}

/* --------------------------------  Navigation Links  ---- */

nav {
    height: 10vh;
    background-color: #161018;
    position: sticky;
    top: -1px;
    z-index: 100;
    overflow: hidden;
}

#menu {
    float: right;
    display: flex;
    flex-direction: row;
    font-size: 4vh;
    font-family: 'Oswald', sans-serif;
    list-style-type: none;
}

#menu li{
    border-radius: 10px;
    margin: 2vh 1vh;
    text-decoration: none;
    padding: 0 5px;
    box-shadow: 3px 3px 3px #b438bc;
}

#menu a {
    text-decoration: none;
    color: #B0A8B9;
}

/* Navigation Link Hover/Focus Effect */

#menu a:hover, #menu a:focus {
    color: #b438bc;
    outline: none;
}

/* Section Styling */

.section-bright {
    height: 100vh;
    overflow: hidden;
}

.dark-text {
    color: rgb(24, 6, 39)
}

/* Dark Section Styling */

.section-dark {
    background-color: #161018;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.bright-text {
    color: #B0A8B9;
}

/* --------------------------------  Bio Section  --------- */

.bio-content-box {
    position: relative;
    width: 70%;
    margin: 0 auto;
    font-size: 1.5em;
    text-indent: 3em;
}

#bio-picture {
    height: 250px;
    float: left;
    margin-right: 20px;
    border-radius: 10px;
}

/* --------------------------------  Education Section  --- */

.education-container {
    margin-top: 10vh;
}

.education-container i {
    color: #d2a1f2;
    font-size: 4em;
    position: relative;
    padding-top: 2vh;
}

.education-container a i {
    margin-left: 20%;
    transition: 0.3s ease-in-out;
}

/* Education Icons Hover and Focus Effect */

.education-container i:hover, .education-container a:focus i {
    transform: scale(1.1);
}

.education-container a:focus {
    outline: none;
}

/* Click Me Arrows Styling */

.click-me, .click-me-arrow {
    float: right;
    position: relative;
}

.click-me {
    top: 25px;
    right: 45vw;
    font-size: 1.7em;
}

.click-me-arrow {
    animation: 4s arrow infinite;
    right: 51vw;
}

/* Education Icon Toggle */

#ed-figure-container {
    position: relative;
}

#reveal-school, #reveal-institute {
    display: none;
    font-size: 1.3em;
}

#reveal-school:target, #reveal-institute:target {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 65%;
    height: 110%;
    display: flex;
}

#reveal-school:target {
    padding-top: 20vh;
    align-items: center;
    top: -3vh;
}

#reveal-institute:target {
    align-items: flex-end;
    padding-top: 5vh;
    top: -6vh;
}

#reveal-school figcaption, #reveal-institute figcaption {
    border: 3px solid #b438bc;
    border-radius: 10px;
    padding: 1.5vh 0;
    height: auto;
    width: 60%;
    text-align: center;
    background-color: #2b2a2c;
}

/* --------------------------------  Skill Section  ------- */

#skills-intro {
    padding: 0 50px;
    text-indent: 3rem;
    margin-bottom: 50px;
    font-size: 1.5rem;
}

/* Link to Code Institute */

#skills-intro a {
    text-decoration: none;
    color: #b438bc;
    font-weight: 600;
}

#skills-intro a:hover, #skills-intro a:focus {
    text-decoration: underline;
    outline: none;
}

/* Coding Skills Bar */ 

#coding-heading {
    margin-top: 30px;
    margin-bottom: 15px;
    position: relative;
    right: -25%;
    font-size: 2rem;
}

#code-skill-container {
    background-color: #161018;
    padding: 20px 50px;
    width: 60%;
    margin: 15px auto;
    text-transform: uppercase;
    border-radius: 10px;
}

#skill-html, #skill-css {
    height: 5px;
    border: 1px solid #d2a1f285;
    margin: 10px 0;
    border-radius: 3px;
    background-color: rgba(200, 39, 221, 0.3);
    position: relative;
}

#skill-html span, #skill-css span {
    background-color: #b438bc;
    position: absolute;
    height: 5px;
    border-radius: 3px;
}

#skill-html span {
    width: 95%;
    animation: 4.5s html-skill infinite;
}


#skill-css span {
    width: 85%;
    animation: 4.5s css-skill infinite;
}

/* --------------------------------  Work Experience Section  -- */

#work-exp-container {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-evenly;
}

.work-exp-box {
    height: auto;
    padding-bottom: 20px;
}

.work-exp-box p {
    font-size: 1.5em;
}

/* Work Experience Icons */

#work-icons-container {
    background-color: #161018;
    border: 2px dashed #d2a1f2;
    border-radius: 25px;
    width: 60%;
    text-align: center;
    height: auto;
    overflow: hidden;
    margin: 20px auto 50px;
}

.work-icon-box {
    height: 100px;
    border: 2px solid black;
    width: 100px;
    padding: 10px;
    border-radius: 50%;
    background-color: #2b2a2c;
    box-shadow: 5px 5px 15px #d2a1f2;
}

#float-left-icon {
    float: left;
    margin: 30px 75px;
}

#float-right-icon {
    float: right;
    margin: 30px 75px;
}

#fit-center-icon {
    margin: 30px auto;
}

#work-icons-container i {
    font-size: 76px;
    text-align: center;
    color: #d2a1f2;
}

/* Work Experience Icons Hover and Focus Effects */

.work-icon-box:hover {
    box-shadow: 5px 5px 15px #b438bc;
}

.work-icon-box a:focus {
    outline: none;
}

#work-icons-container a:focus i, #work-icons-container a:hover i {
    color: #b438bc;
}

/* Work Experience Icons Pop-up Text */

.icon-text-fig {
    display: none;
    font-size: 1.5em;
}

.icon-text-fig:target {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-text-fig figcaption {
    width: 35vw;
    position: relative;
    border: 3px solid #b438bc;
    border-radius: 10px;
    padding: 2vh;
    text-align: center;
    background-color: #2b2a2c;
}

.icon-text-fig figcaption strong {
    color: #b438bc;
}

/* Work Ecperience Icons Close Button */

.icon-text-fig .close-button {
    position: relative;
    display: block;
}

.icon-text-fig .close-button:after {
    right: -1rem;
    top: -1rem;
    width: 2rem;
    height: 2rem;
    position: absolute;
    display: flex;
    z-index: 5;
    align-items: center;
    justify-content: center;
    background-color: #2b2a2c;
    border-radius: 50%;
    border: 2px solid black;
    color: #B0A8B9;
    content: "X";
    cursor: pointer;
}

/* Work Experience Icons Blurred Background */

.icon-text-fig .close-button:before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    content: "";
    cursor: default;
}

/* --------------------------------  Contact Me  ---------- */

form {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: #161018;
}

form div {
    padding: 5px 15px;
    margin-top: 3px;
}

form label {
    margin-right: 5%;
}

input[type='radio'] {
    accent-color: #b438bc;
}

form > input, textarea, button {
    display:inline;
    width: 48%;
    line-height: 2em;
    padding: 0 3px;
    margin-top: 15px;
    margin-bottom: 5px;
}

form > input, textarea, button, form div {
    font-size: 1.5em;
    border: 2px solid black;
    background-color: #2b2a2c;
    color: #B0A8B9;
    border-radius: 5px;
}

textarea::placeholder,  form > input::placeholder {
    color: #B0A8B9;
    opacity: 0.8;
    font-family: Barlow, sans-serif;
}

textarea {
    float: right;
    border: 2px solid #d2a1f2;
}

button {
    background-color: #d2a1f2;
    font-size: 1.3em;
    font-weight: 900;
    text-transform: uppercase;
    color: #b438bc;
}

 form button:hover,  form button:focus {
    border-style: inset;
    color: #d2a1f2;
    background-color: #b438bc;
    border: 4px groove #d2a1f2;
    outline: none;
    border-top: none;
    border-left: none;
}

/* --------------------------------  Footer  -------------- */

footer {
    height: auto !important;
}

footer h4 {
    text-align: center;
    font-size: 1.5em;
    margin: 20px 0;
}

footer ul {
    list-style-type: none;
    text-align: center;
}

footer li {
    margin: 0 15px;
    font-weight: 600;
    display: inline;
    font-size: 1.2em;
}

footer a {
    text-decoration: none;
}

#copyright {
    margin: 10px;
    text-align: center;
    padding: 10px 0;
    font-size: 1.1em;
}

#copyright span {
    position: absolute;
    right: 10px;
    margin-top: 10px;
}

#copywright div {
    display: inline;
    vertical-align: auto;
}

#copyright i {
    margin-left: 15px;
    font-size: 2em;
    position: relative;
    top: 8px;
    color: #d2a1f2;
    transition: 0.2s ease-in-out;
}

#copyright a {
    outline: none;
}

/* Go to Home Page Arrow Hover and Focus Effects*/

#copyright i:hover, #copyright a:focus i {
    transform: scale(1.2);
}

#copyright a:active i {
    color: #b438bc;
}

/* Footer Links Focus and Hover Effects */

footer li a:hover {
    text-decoration: underline;
}

footer li a:focus {
    outline: solid #d2a1f2;
}

#github {
    color: #b438bc;
}

#facebook {
    color: #4783eb;
}

#linkedin {
    color: #5692fb;
}

#twitter {
    color: #7ecef7;
}

#instagram {
    color: #e22881;
}

/* =====    animations     ===================== */

/* The Typing Effect */
@keyframes typing {
    from {
        width: 30%;
    }
    to {
        width: 100%;
    }
}
  
/* The Typewriter Cursor Effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #d2a1f2;
    }
}

/* Click Me Arrow */
@keyframes arrow {
    0%, 100% {
        width: 0;
    }
    50% {
        width: 4%;
    }
}

/* Code Languages Bar Animations */
@keyframes html-skill {
    0% {
        width: 0%;
    }

    25% {
        width: 95%;
    }

    100% {
        width: 95%;
    }
}

@keyframes css-skill {
    0% {
        width: 0%;
    }

    25% {
        width: 85%;
    }

    100% {
        width: 85%;
    }
}

/* =====    Media Queries     ================== */