@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Oswald&family=Tektur&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #B0A8B9;
    font-family: Barlow, sans-serif;
    font-weight: 300;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 3em;
    font-family: Oswald, sans-serif;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 2em;
    font-family: Barlow, sans-serif;
    font-weight: 400;
}

/* header */

header i {
    font-size: 5vh;
    margin:0 1vw;
}
header > div {
    margin-left: 50px;
    margin: 2.5vh;
    float: left;
    position: fixed;
    top: 0;
    z-index: 200;
}

/* hero image */

#hero-image {
    width: 100%;
    height: 90vh;
    background: url(../images/hero-image.jpeg) no-repeat center center;
    background-size: cover;
}

/* greating message */

#greating {
    width: 40vw;
    height: 30vh;
    position: absolute;
    top: 20vh;
    right: 20vw;
    color: #B0A8B9;
    margin: 0;
}

#greating h1 {
    font-size: 2.3em;
    font-family: Tektur, cursive;
    letter-spacing: .15em;
    margin: 0;
}
    
#type_animation {
    overflow: hidden;
    border-right: .15em solid #d2a1f2;
    white-space: nowrap;
    margin: 0 auto;
    animation: 
        typing 2.7s steps(40, end),
        blink-caret .75s step-end infinite;
}

    /* The typing effect */
@keyframes typing {
    from { width: 30% }
    to { width: 100% }
  }
  
    /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #d2a1f2; }
  }

/* navigation links */

nav {
    height: 10vh;
    background-color: #161018;
    position: sticky;
    top: -1px;
    z-index: 100;
    overflow: hidden;
}

#menu {
    float: right;
    display: flex;
    flex-direction: row;
    font-size: 4vh;
    font-family: 'Oswald', sans-serif;
    list-style-type: none;
    padding: auto 2vw;
}

#menu li{
    border-radius: 10px;
    margin: 2vh 1vh;
    text-decoration: none;
    padding: 0 5px;
    box-shadow: 3px 3px 3px #B0A8B9;
}

#menu a {
    text-decoration: none;
    color: #B0A8B9;
}

/* section styling */

.section-bright {
    height: auto;
    margin-bottom: 10%;
    overflow: hidden;
}

.dark-text {
    color: rgb(24, 6, 39)
}

/* dark section styling */

.section-dark {
    background-color: #161018;
    height: auto;
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
}

.bright-text {
    color: #B0A8B9;
}

.heading {
    padding: 60px 0 40px;
}

/* bio section */

.bio-content-box {
    position: relative;
    width: 70%;
    margin: 0 auto;
}

#bio-picture {
    height: 250px;
    float: left;
    margin-right: 20px;
    border-radius: 10px;
}

/* education section */

.education-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.education-container i {
    color: #d2a1f2;
    font-size: 4em;
    margin-left: 20%;
    position: relative;
    top: 3vh;
}

.education-wrapper {
    height: 100px;
    width: 35%;
    border: 1px solid #161018;
    border-radius: 10px;
    position: relative;
}

.education-wrapper span {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}



.education-wrapper #reveal-school, .education-wrapper #reveal-institute {
    border: 2px solid #161018;
    background-color: #161018;
    border-radius: 10px;
    color: #161018;
    z-index: 5000;
}

.education-wrapper #reveal-school2, .education-wrapper #reveal-institute2 {
    border: 2px solid #b438bc;
    color: #B0A8B9;
    border-radius: 10px;
    padding: 15px 0;

}

#reveal-school:target, #reveal-institute:target {
    transform: translateY(-50vh);
    z-index: -100;
}

/* work experience section */

#work-exp-container {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-evenly;
}

.work-exp-box {
    height: auto;
    padding-bottom: 20px;
}

.high-light {
    font-size: 2em;
    text-decoration: underline;
}

/* skill section */

#skills-intro {
    padding: 0 50px;
    text-indent: 3rem;
    margin-bottom: 50px;
}

#coding-heading {
    margin-top: 30px;
    margin-bottom: 15px;
    position: relative;
    right: -25%;
}

#code-skill-container {
    background-color: #161018;
    padding: 20px 50px;
    width: 60%;
    margin: 15px auto;
}

#html, #css {
    height: 5px;
    border: 1px solid #d2a1f285;
    margin: 10px 0;
    border-radius: 3px;
    background-color: rgba(200, 39, 221, 0.3);
    position: relative;
}

#html span, #css span{
    background-color: #b438bc;
    position: absolute;
    height: 5px;
    border-radius: 3px;
}

#html span {
    width: 95%;
    animation-name: html;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
}


#css span {
    width: 85%;
    animation-name: css;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
}

/* work experience icons */

#work-icons-container {
    background-color: #161018;
    border: 2px dashed #d2a1f2;
    border-radius: 25px;
    width: 60%;
    text-align: center;
    height: auto;
    overflow: hidden;
    margin: 20px auto 50px;
}

.work-icon-box {
    height: 100px;
    border: 2px solid black;
    width: 100px;
    padding: 10px;
    border-radius: 50%;
    background-color: #570526;
    box-shadow: 5px 5px 15px #d2a1f2;
}

#float-left-icon {
    float: left;
    margin: 30px 75px;
}

#float-right-icon {
    float: right;
    margin: 30px 75px;
}

#fit-center-icon {
    margin: 30px auto;
}

#work-icons-container i {
    font-size: 76px;
    text-align: center;
}

/* work icons pop-up text */

.icon-text-fig {
    display: none;
}

.icon-text-fig:target {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-text-fig figcaption {
    width: 25rem;
    position: relative;
    padding: 1.5em;
    background-color: #d2a1f2;
    color: #121810;
    border-radius: 15px;
}

.icon-text-fig .close-button {
    position: relative;
    display: block;
}

.icon-text-fig .close-button:after {
    right: -1rem;
    top: -1rem;
    width: 2rem;
    height: 2rem;
    position: absolute;
    display: flex;
    z-index: 5;
    align-items: center;
    justify-content: center;
    background-color: #2b2a2c;
    border-radius: 50%;
    border: 2px solid black;
    color: #B0A8B9;
    content: "X";
    cursor: pointer;
}

.icon-text-fig .close-button:before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    content: "";
    cursor: default;
}

#fix-position, #fix-position2  #fix-position3{
    position: relative;
}

/* contact me */

form {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    border: 3px solid black;
    border-radius: 5px;
    padding: 20px;
    background-color: #161018;
}

form div {
    border: 2px solid #161018;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 1.5em;
    margin-top: 3px;
    background-color: #d2a1f2;
}

form label {
    margin-right: 5%;
}

form > input, textarea, button {
    background-color: #2b2a2c;
    display:inline;
    width: 48%;
    color: #B0A8B9;
    line-height: 2em;
    padding: 0 3px;
    border: 2px solid black;
    margin-top: 15px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 1.5em;
}

textarea::placeholder,  form > input::placeholder {
    color: #B0A8B9;
    opacity: 0.8;
    font-family: Barlow, sans-serif;
}

textarea {
    float: right;
    border: 2px solid #d2a1f2;
}

button {
    background-color: #d2a1f2;
    font-size: 1.3em;
    font-weight: 900;
    text-transform: uppercase;
    color: rgba(49,32,98,1);
}

/* footer */

footer h4 {
    text-align: center;
    font-size: 1.5em;
    margin: 20px 0;
}

footer ul {
    list-style-type: none;
    text-align: center;
}

footer li {
    margin: 0 15px;
    font-weight: 600;
    display: inline;
}

footer a {
    text-decoration: none;
}

#copyright {
    margin: 10px;
    text-align: center;
    padding: 10px 0;
    font-size: 1.1em;
}

#copyright span {
    position: absolute;
    right: 10px;
    margin-top: 10px;
}

#copyright i {
    margin-left: 15px;
    font-size: 2em;
    position: relative;
    top: 8px;
    color: #d2a1f2;
}

#copywright div {
    display: inline;
    vertical-align: auto;
}

#github {
    color: #b438bc;
}

#facebook {
    color: #4783eb;
}

#linkedin {
    color: #5692fb;
}

#twitter {
    color: #7ecef7;
}

#instagram {
    color: #e22881;
}

/* =====    animations     ===================== */

/* code languages bar animations */

@keyframes html {
    0% {
        width: 0%;
    }

    25% {
        width: 95%;
    }

    100% {
        width: 95%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }

    25% {
        width: 85%;
    }

    100% {
        width: 85%;
    }
}
